{% extends 'base.html' %}

{% block main %}
<div id="gmap">
    <div id="gmap_canvas"></div>
    {% if error %}
    <div id="gmap_error">{{ error }}</div>
    {% endif %}
    {% load gmap_tags %}
    {% gmap_marker_types as marker_types %}
    {% if marker_types %}
    <div id="gmap_buttons">
        <span>Toggle category: </span>
        <form>
        {% for category in marker_types %}
        <input type="button" id="gmap_button_{{ forloop.counter }}" value="{{ category }}" onclick="toggleCategory('{{ category }}')">
        {% if not forloop.last %}
        <span id="gmap_button_divider_{{ forloop.counter }}">|</span>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>

    <script src="https://maps-api-ssl.google.com/maps/api/js?v=3.3&sensor=false" type="text/javascript"></script>
    <script src="{% url gmap.views.markers %}" type="text/javascript"></script>
    {% if gmap_center_lng %}
    <script type="text/javascript">
        new_center = new google.maps.LatLng({{ gmap_center_lat }}, {{ gmap_center_lng }});
        map.setCenter(new_center)
        map.setZoom(10)
    </script>
    {% endif %}

{% endblock main %}
